<%= simple_form_for @skill do |f| %>
  <div class="skill-group">
    <%= f.input :title, input_html: { class: "form-control"} %>
    <%= f.input :title, input_html: { class: "form-control"} %>
    <%= f.input :title, input_html: { class: "form-control"} %>
    <%= f.input :title, input_html: { class: "form-control"} %>
    <%= f.input :title, input_html: { class: "form-control"} %>
  </div>
  <%= f.submit "Submit" %>
<% end %>
