<%= simple_form_for @skill do |f| %>
  <div class="skill-group">
    <%= f.input :user_name, input_html: { class: "form-control"} %>
    <%= f.input :user_gender, input_html: { class: "form-control"} %>
    <%= f.input :lianxi_phone, input_html: { class: "form-control"} %>
    <%= f.input :user_wechat, input_html: { class: "form-control"} %>
    <%= f.input :user_email, input_html: { class: "form-control"} %>
  </div>
  <%= f.submit "Submit" %>
<% end %>
