<div class="col-md-6">
  <div class="group float-right">
    <% if @skill.first_touch %>
      <%= link_to("建立个人页面", new_geren_yonghu_skill_path) %>
      <% else %>
      <%= link_to("编辑", edit_geren_yonghu_skill_path(@skill)) %>

  <% end %>

  </div>

  <%  @skills.each do |skill| %>

  <ul class="list-group">
  <li class="list-group-item"><%= skill.user_name %></li>
  <li class="list-group-item"><%= skill.user_gender %></li>
  <li class="list-group-item"><%= skill.lianxi_phone %></li>
  <li class="list-group-item"><%= skill.user_wechat %></li>
  <li class="list-group-item"><%= skill.user_email %></li>
</ul>
<% end %>
</div>
