<div class="skill-members-show">
	<div class="group">
    ( <%= @job_user_members.count %> 人 ) <span>对<%= link_to(@job.job_name, qiye_yonghu_job_path(@job)) %>感兴趣</span>
  </div>
		<table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>对我感兴趣的人</td>
        <td>Description</td>
        <td>关注时间</td>
      </tr>
    </thead>
    <tbody>
			<%  @job_user_members.each do |like| %>

        <tr>
          <td><%= like.id %></td>
          <td><%= like.email %></td>
          <td></td>
          <td><%= like.created_at.to_date %></td>

        </tr>
      <% end %>
    </tbody>
  </table>
	</div>
