
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">
        <span class= "btn btn-light">我的简历</span>
      </a>
    </li>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
      </ul>

      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">
          <%= link_to("个人用户前台", jobs_path, class: "btn btn-light") %>
          <%= link_to("企业用户前台", skills_path, class: "btn btn-light") %>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link active" aria-current="page">
          <%= link_to("个人用户后台", current_user_first_touch_geren_yonghu_skills_path, data: {turbo_method: :get}, class: "btn btn-light" ) %>
          <%= link_to("企业用户后台", qiye_yonghu_jobs_path, class: "btn btn-light") %>
        </a>
      </li>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">

            <% if !current_user %>
                    <li><%= link_to("注册", new_user_registration_path) %> </li>
                    <li><%= link_to("登录", new_user_session_path) %></li>
                  <% else %>
                    <li><%= current_user.email %></li>
                    <li> <%= link_to("退出", destroy_user_session_path, data: {turbo_method: :delete} ) %> </li>
                  <% end %>

        </ul>
      </div>
    </div>
  </div>
</nav>
